body {
    background-color: rgb(15, 12, 12);
    color: bisque;
}

.titulos {
    margin: auto;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 20pt;
}

.topo {
    background-color: aliceblue;
    color: black;
    height: 100px;
    align-items: center;
    display: flex; /*DEPOIS QUE ADICIONEI ESSE COMPONENTE, O TEXTO FICOU NO MEIO*/
}