body {
    background-image: linear-gradient(25deg, #112785, #7d2a66, #ba2e45, #f13319);
    color: black;
    width: 100vw;
    height: 100vw;
}

.titulos {
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 100px;
    font-size: 20pt;
    color: black;

}

.topics {
    display: inline-block;
    padding-right: 50px;
    margin-top: 30px;

}


.navbar {
    background-image: linear-gradient(25deg, #112785, #7d2a66, #ba2e45, #f13319);
    color: black;
    position: fixed;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0.5vw 65vh;
}

p {
    text-align: justify;
    padding-right: 80px;
    padding-left: 50px;

}

footer