* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    color: #41e2ba;
    background-color: #0D0C22;
}


.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "nav main";
}


main {
    grid-area: main;
    width: 75vw;
    padding: 2rem;
}

nav {
    position: relative;
    grid-area: nav;
    border: solid #41e2ba;
    width: 25vw;
    padding: 2rem;
    position: fixed;
    height: 100vh;
}

.photo {
    text-align: center;
    padding: 1rem;
    border: solid #41e2ba;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

nav > h1{
    text-align: center;
    padding: 1rem;
    justify-content: center;
    border: solid #41e2ba;
}



