* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    color: #CC82AC;
    background-color: #0D0C22;
}


.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:"nav main";
}


main {
    grid-area: main;
    width: 75vw;
    padding: 2rem;
}

nav {
    grid-area: nav;
    width: 25vw;
    padding: 2rem;
    position: fixed;
    height: 100vh;
}

.photo {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

