* {
    box-sizing: border-box;
}

body {

    background-image: linear-gradient(25deg, #112785, #7d2a66, #ba2e45, #f13319);
    color: black;
}

.container {
    width: 75%;
}

.titulos {
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 100px;
    font-size: 20pt;
    color: black;

}

.topics {
    padding-right: 50px;
    margin-top: 20px;

}


.menu {
    background-image: linear-gradient(25deg, #112785, #7d2a66, #ba2e45, #f13319);
    color: black;
    padding: 50px;
    width: 25%;
    float: right;
    position: fixed;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

p {
    text-align: justify;
    padding-right: 80px;
    padding-left: 50px;

}

.foot {
    width: 100%;
    background: linear-gradient(25deg, #112785, #7d2a66, #ba2e45, #f13319);
    margin: 50px;
}