* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
        "header header"
        "nav       main"
        "footer footer";
}


main {
    grid-area: main;
    background: green;
    width: 70vw;
}

nav {
    grid-area: nav;
    background-color: blue;
    width: 30vw;
}

header {
    grid-area: header;
    background-color: black;
}

footer {
    grid-area: footer;
    background-color: purple;
}