body {
    background-color: #333;
    color: bisque;
}

.titulos {
    margin: auto;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 20pt;
}

.topo {
    background-color: aliceblue;
    color: black;
    height: 100px;
    align-items: center;
    display: flex;
    /*DEPOIS QUE ADICIONEI ESSE COMPONENTE, O TEXTO FICOU NO MEIO*/
}


.theme {
    float: right;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li{
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }